.cards {
	width: max-content;
	max-width: 85%;
	padding: 1rem;
	margin: 2rem auto 2rem auto;
	/* 	color: var(--teal);
	background-color: var(--blue);
	border: thick solid var(--teal); */

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-columns: repeat(auto-fill, 250px);
	grid-auto-rows: 350px;
	align-items: stretch;
	gap: 25px 10px;
}
