.cards {
	width: 70%;
	max-width: 1000px;
	padding: 1rem;
	margin: 0 auto 2rem auto;
	color: var(--teal);
	background-color: var(--blue);
	border: thick solid var(--teal);

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

	grid-auto-rows: auto;

	justify-items: center;
	align-items: center;

	gap: 25px 10px;
}
