.About {
	width: 80%;
	max-width: 1000px;
	padding: 2rem;
	margin: 2rem auto;
	color: #000;
	background-color: tomato;
}

.About img {
	width: 250px;
	margin-top: 2rem;
	filter: brightness(0.8);
}

/* .About img:hover {
	filter: drop-shadow(10px 10px 10px cyan) drop-shadow(-10px -10px 10px cyan);
}
 */
