.card {
	position: relative;

	width: 250px;
	height: 400px;
	border-radius: 15px;
	overflow: hidden;
	color: var(--green);
	background-color: var(--teal);

	transition: filter 0.2s ease-in-out;
}

.card:hover {
	filter: drop-shadow(10px 10px 10px var(--green))
		drop-shadow(-10px -10px 10px var(--green));
}

.card * {
	margin-bottom: 0.3rem;
}

.card img {
	clip-path: inset(0 0 25px 0);
	margin-bottom: -20px;
}

.card span {
	display: block;
	font-weight: 500;
}

.card-name {
	color: var(--grey);
	font-weight: 700;
}

.card button {
	position: absolute;
	z-index: 1;
	top: -1px;
	right: -1px;
	width: 50px;
	height: 25px;
	border: none;
	font-size: 1rem;
	font-weight: 700;
	color: red;
	background-color: #fff;

	transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.card button:hover {
	cursor: pointer;
	color: white;
	background-color: red;
}
