.favorites {
	/* width: max-content;
	max-width: 85%;
	padding: 1rem;
	margin: 1rem auto 2rem auto; */
	width: fit-content;
	min-width: 400px;
	max-width: 85%;
	padding: 1rem;
	margin: 2rem auto 2rem auto;

	display: grid;
	grid-template-columns: repeat(2, minmax(150px, 200px));
	grid-auto-rows: 300px;
	align-items: stretch;
	gap: 25px 10px;
}

/* sm screens*/
@media (min-width: 640px) {
	.favorites {
		grid-template-columns: repeat(3, minmax(150px, 200px));
	}
}

/* md screens*/
@media (min-width: 768px) {
	.favorites {
		grid-template-columns: repeat(4, minmax(150px, 200px));
	}
}

/* lg screens*/
@media (min-width: 1024px) {
	.favorites {
		grid-template-columns: repeat(5, minmax(150px, 200px));
	}
}

.no-favorites {
	position: fixed;
	z-index: 10;

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	font-weight: 800;
	font-size: 2rem;
	text-align: center;
	color: var(--grey);
	background-color: #0005;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.no-favorites__blackHeart {
	font-size: 5rem;
}

/***** ORT AND FILTER ***/

.fav-selects {
	width: 100%;
	margin: 1rem 0 0 0;
	color: var(--grey);

	display: flex;
	justify-content: center;
}

.order-container {
	margin-right: 2rem;
}

/*** SELECTS  **/
.order-container select,
.gender-container select {
	width: 10rem;
	height: 2rem;
	font-size: 1.05rem;
}
