.search-bar {
	display: flex;
	flex-flow: row nowrap;
}

.search-bar * {
	display: inline-block;
}

.search-bar input {
	width: 150px;
	padding: 0.5rem;
	margin-right: 0.5rem;
	/* 	border: medium solid var(--green); */
	border: none;
	font-size: 1rem;
	font-weight: 600;
	font-family: system-ui;
	color: var(--blue);
	background-color: var(--green);
}

.search-bar input::placeholder {
	color: var(--blue);
}
