.cards {
	width: fit-content;
	min-width: 400px;
	max-width: 85%;

	padding: 1rem;
	margin: 2rem auto;

	display: grid;
	grid-template-columns: repeat(2, minmax(150px, 200px));
	grid-auto-rows: 300px;
	align-items: stretch;
	gap: 25px 10px;
}

/* sm screens*/
@media (min-width: 640px) {
	.cards {
		grid-template-columns: repeat(3, minmax(150px, 200px));
	}
}

/* md screens*/
@media (min-width: 768px) {
	.cards {
		grid-template-columns: repeat(4, minmax(150px, 200px));
	}
}

/* lg screens*/
@media (min-width: 1024px) {
	.cards {
		grid-template-columns: repeat(5, minmax(150px, 200px));
	}
}

.noCards {
	width: 100%;
	min-height: 90vh;
	border: 3px solid red;
	display: flex;
	flex-flow: column nowrap;
	gap: 2rem;
}

.noCardsMessage {
	width: 100%;

	font-weight: 800;
	font-size: 2rem;
	text-align: center;
	color: var(--grey);
	background-color: #0005;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.noCardsMessage img {
	width: 10rem;
}

.noCardsMessage a {
	color: var(--green);
}

.addBtns {
	border: 3px solid orange;
}
